/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 /* Basic styling */
 body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f1dede;
 }
 
 header {
  background-color: #7faddf;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .logo-container img {
  height: 50px;
 }
 
 nav ul {
  list-style-type: none;
 }
 
 nav ul li {
  display: inline;
  margin-right: 20px;
 }
 
 nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
 }
 
 nav ul li a:hover {
  color: #007bff;
 }
 
 #content {
  padding: 50px 20px;
  text-align: center;
 }
 
 .landing-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
 }
 
 .landing-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
 }
 
 .landing-section p {
  font-size: 18px;
  margin-bottom: 20px;
 }
 
 .landing-section .btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
 }
 
 .landing-section .btn:hover {
  background-color: #0056b3;
 }
 
 footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
 }
 
 /* Chatbox styles */
 .chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
 }
 
 .chatbox-toggle {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 }
 
 .chatbox-container {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
 }
 
 .chatbox-input-container {
  padding: 10px;
  display: flex;
  align-items: center;
 }
 
 .chatbox-input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
 }
 
 .chatbox-input-container button {
  padding: 8px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
 }
 
 .chatbox-input-container button:hover {
  background-color: #0056b3;
 }
 
 /* Google Translate dropdown */
 #google_translate_element {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
 }
 