{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BhashaBandhan</title>
    
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/Findex.css' %}">


</head>
<body>
    <!-- Body -->
    <div>
        <!-- Navbar -->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="#" class="uk-navbar-item uk-logo">
                    <img src="{% static '/images/bank_icon.jpeg' %}" class = "responsive-img" alt="Logo">
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </nav>
        <!-- Navbar -->
    </div>
    <div>
        <!-- Detail Section -->
        <div class="hero-section">
            <div class="hero-section-text">
                <h1 class="hero-section-text-heading">BhashaBandhan</h1>
                <p class="hero-section-text-para">A platform to connect people through languages</p>
                <a href="#" class="hero-section-text-button">Get Started</a>
            </div>
            <div class="hero-section-image">
                <img src="{% static '/images/hero-image.png' %}" class="responsive-img" alt="Hero Image">
            </div>
        </div>
        <!-- Detail Section -->

    <!-- Body -->
    

    <!-- Scripts -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>