{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhasha-Bank - Loans</title>
    <link rel="stylesheet" href="{% static 'css/Floan.css' %}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'images/bank_icon.jpeg' %}" alt="Bank Logo">
        </div>
        <nav>
            <ul>
                <li><a href="" id="home">Home</a></li>
                <li><a href="Ftransaction" id="transactions">Transactions</a></li>
                <li><a href="Fdocuments" id="loan">Documents</a></li>
                <li><a href="Floan" id="loan">Loan Application</a></li>
                <li><a href="FDeposit" id="fixed-deposit">Fixed Deposit</a></li>
                <li><a href="Fsignin" id="signin">Login/Open Account</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="content">
        <h2>Loan Options</h2>
        <div class="loan-section">
            
            <div class="loan-type">
                <h3>Personal Loan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel magna in tellus aliquam imperdiet. Curabitur nec lacus fermentum, vestibulum velit vel, hendrerit nisi.</p>
                <a href="#" class="btn">Apply Now</a>
            </div>
            <div class="loan-type">
                <h3>Home Loan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel magna in tellus aliquam imperdiet. Curabitur nec lacus fermentum, vestibulum velit vel, hendrerit nisi.</p>
                <a href="#" class="btn">Apply Now</a>
            </div>
            <div class="loan-type">
                <h3>Gold Loan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel magna in tellus aliquam imperdiet. Curabitur nec lacus fermentum, vestibulum velit vel, hendrerit nisi.</p>
                <a href="#" class="btn">Apply Now</a>
            </div>
            <div class="loan-type">
                <h3>Car Loan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel magna in tellus aliquam imperdiet. Curabitur nec lacus fermentum, vestibulum velit vel, hendrerit nisi.</p>
                <a href="#" class="btn">Apply Now</a>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Bhasha-Bank. All Rights Reserved.</p>
    </footer>
</body>
</html>